{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>index</title>
    <link rel="stylesheet" href="{% static '/bootstrap.min.css' %}">
  </head>
  <body>
    
    <div class="container mt-5">


        <p>Nombre : {{ animal.name }}</p>
        <p>Raza : {{ animal.raza }}</p>
        <p>Descripcion : {{ animal.description }}</p>

        <a class="btn btn-outline-secondary" href="{% url 'index' %}">Regresar Atras</a>

    </div>

  </body>
</html>
