{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>index</title>
    <link rel="stylesheet" href="{% static '/bootstrap.min.css' %}">
  </head>
  <body>
    
    <div class="container mb-5">

        <form method="POST">
            {% csrf_token %}
            {{ animal_form.as_p }}

            <button class="btn btn-success">Guardar</button>
        </form>

    </div>

  </body>
</html>
